hr {
  width: 100%;
  height: 2px;
  background: var(--color-lighter-gradient);
  border: none;
  margin-bottom: 30px;
}

footer {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.footer-title {
  font-size: 2rem;
  font-family: var(--font-titles);
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #f6cffd;
}

.contact-footer-wraps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  margin-block: 15px;
}

.contact-footer-wraps img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.contact-footer-wraps a {
  font-family: var(--font-paragraphs);
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer-wrappers:nth-of-type(3) {
  margin-bottom: 40px;
}

.footer-wrappers p {
  font-size: 1.5rem;
  max-width: 600px;
}

#copyright {
  font-size: 1.3rem;
  margin-block: 20px;
  align-self: center;
  margin-bottom: 30px;
}

.footer-container {
  margin-bottom: 50px;
}

@media (min-width: 1000px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-wrappers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 27%;
  }
}
