:root {
  --font-titles: "Exo 2", serif;
  --font-paragraphs: "Alegreya Sans", serif;
  --color-paragraph: #fceaff;
  --color-lighter-gradient: linear-gradient(
    295deg,
    rgba(244, 196, 243, 1) 44%,
    rgba(255, 163, 207, 1) 92%
  );
  --body-background-gradient: linear-gradient(
    312deg,
    rgba(10, 1, 63, 1) 16%,
    rgba(7, 1, 71, 1) 50%,
    rgba(23, 1, 45, 1) 87%
  );
}

header {
  width: 100%;

  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.smaller-screen-nav {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px 10px 25px 10px;
}

.logo {
  width: 40%;
  max-width: 160px;
  height: auto;
}

#menu-burger-icon {
  background-color: transparent;
  border: none;
  width: 18%;
  max-width: 65px;
}

#menu-burger-icon img {
  width: 100%;
  height: 100%;
}

#close-button {
  background-color: transparent;
  border: none;
  width: 60px;
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#close-button:hover,
.opened-menu a:hover {
  transform: scale(1.1);
}

#close-button img {
  width: 100%;
  height: 100%;
}

.opened-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 55%;
  background: var(--color-lighter-gradient);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  max-width: 350px;
}

.opened-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.opened-menu a {
  font-family: var(--font-titles);
  font-size: 2.5rem;
  font-weight: 600;
  margin-block: 20px;
  color: white;
  text-decoration: none;
  color: rgb(24, 1, 31);
  transition: transform 0.3s ease;
}

.opened-menu a {
  font-family: var(--font-titles);
  font-size: 2.5rem;
  margin-block: 20px;
}

.wider-screen-nav {
  display: none;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.wider-screen-nav a {
  font-size: 2rem;
  color: var(--color-paragraph);
  text-decoration: none;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.wider-screen-nav a:hover {
  border-bottom: solid 2px #ffa3cf;
  color: #ffa3cf;
}

#contact-fake-btn {
  background: transparent;
  padding: 13px 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: #ffcfe6;
  font-weight: 500;
  letter-spacing: 1.1px;
  border: 2px solid #ffa3cf;
  transition: transform 0.3s ease;
}

#contact-fake-btn:hover {
  transform: scale(1.1);
}

.scale-in-tr {
  -webkit-animation: scale-in-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
   * Generated by Animista on 2025-1-21 20:14:49
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation scale-in-tr
   * ----------------------------------------
   */
@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .wider-screen-nav {
    display: flex;
    width: 85%;
  }
  .smaller-screen-nav {
    display: none;
  }
}

@media (min-width: 1350px) {
  .wider-screen-nav {
    display: flex;
    width: 75%;
  }
}

@media (min-width: 1550px) {
  .wider-screen-nav {
    display: flex;
    width: 65%;
  }
}

@media (min-width: 1650px) {
  .wider-screen-nav {
    display: flex;
    width: 60%;
  }
}
